#guessTheNumber, #tipCalculator{
    text-decoration: none;
    
}

#guessTheNumberArticle, #tipCalculatorArticle{
    width: 25%;
    height: 5rem;
    background-color: #A6DD6C;
    text-align: center;
    padding: 3rem;
    border-radius: 1rem;
    border: 1px solid black;
}
h1{
    color: black;
}
#tipCalculatorArticle{
    background-color: #F59A3D;
}