@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiAyp8kv8JHgFVrJJLmE0tCMPI.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiAyp8kv8JHgFVrJJLmE0tMMPQ.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiAyp8kv8JHgFVrJJLmE0tMMPY.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiAyp8kv8JHgFVrJJLmE0tMMPU&skey=14913f5d70e4915e&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmv1pVF9eO.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmv1pVGdeI.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmv1pVGdeK.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiDyp8kv8JHgFVrJJLmv1pVGdeJ&skey=e6f64e60fb8d9268&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLm21lVF9eO.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLm21lVGdeI.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLm21lVGdeK.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiDyp8kv8JHgFVrJJLm21lVGdeJ&skey=b60188e8ecc47dee&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiGyp8kv8JHgFVrJJLufntG.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiGyp8kv8JHgFVrJJLufntE.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiGyp8kv8JHgFVrJJLufntH&skey=f21d6e783fa43c88&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmg1hVGdeI.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmg1hVGdeK.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiDyp8kv8JHgFVrJJLmg1hVGdeJ&skey=b0aa19767d34da85&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmr19VGdeI.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmr19VGdeK.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiDyp8kv8JHgFVrJJLmr19VGdeJ&skey=7fbc556774b13ef0&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmy15VGdeI.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLmy15VGdeK.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiDyp8kv8JHgFVrJJLmy15VGdeJ&skey=29c3bd833a54ba8c&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLm111VF9eO.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLm111VGdeI.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLm111VGdeK.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiDyp8kv8JHgFVrJJLm111VGdeJ&skey=6ea139488603f28c&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLm81xVF9eO.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLm81xVGdeI.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiDyp8kv8JHgFVrJJLm81xVGdeK.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiDyp8kv8JHgFVrJJLm81xVGdeJ&skey=846b48b4eada095a&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiGyp8kv8JHgFVrLPTufntG.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiGyp8kv8JHgFVrLPTufntE.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiGyp8kv8JHgFVrLPTufntH&skey=57be0781cfb72ecd&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLFj_Z1JlEw.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLFj_Z1JlEQ.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLFj_Z1JlEg&skey=1bdc08fe61c3cc9e&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLDz8Z1JlEw.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLDz8Z1JlEQ.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLDz8Z1JlEg&skey=4aabc5055a39e031&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJnedA.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrJJnedg.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJnedQ&skey=87759fb096548f6d&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLGT9Z1JlEw.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLGT9Z1JlEQ.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLGT9Z1JlEg&skey=d4526a9b64c21b87&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLEj6Z1JlEw.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLEj6Z1JlEQ.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLEj6Z1JlEg&skey=ce7ef9d62ca89319&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLCz7Z1JlEw.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLCz7Z1JlEQ.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLCz7Z1JlEg&skey=cea76fe63715a67a&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLDD4Z1JlEw.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLDD4Z1JlEQ.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLDD4Z1JlEg&skey=f01e006f58df81ac&v=v13#Poppins) format("svg");
  font-display: block;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLBT5Z1JlEw.woff) format("woff"),url(//fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLBT5Z1JlEQ.eot?#) format("eot"),url(//fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLBT5Z1JlEg&skey=6c361c40a830b323&v=v13#Poppins) format("svg");
  font-display: block;
}
.checkout-form {
  margin-bottom: 15px;
  position: relative;
}
.checkout-form--50 {
  float: left;
  width: 230px;
}
@media (max-width: 991px) {
  .checkout-form--50 {
    width: 100%;
  }
}
.checkout-form--double {
  float: left;
  width: 48.5%;
}
@media (max-width: 991px) {
  .checkout-form--double {
    width: 100%;
  }
}
.checkout-form__input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #dddedf;
  padding: 20px 15px 0px;
  font-family: Poppins;
  font-size: 13px;
  color: #4f5758;
  font-weight: 400;
}
.checkout-form__input--disabled {
  background: #F8F8F8;
  border: 1px solid #DDDEDF;
}
.checkout-form__input--error {
  border: 1px solid #FF7700;
  background-color: #FFF9F3;
}
.checkout-form__input:focus,
.checkout-form__input:active {
  outline: none;
  border-color: #8C8F90;
}
.checkout-form__placeholder {
  font-family: Poppins;
  font-size: 13px;
  text-align: left;
  color: #8c8f90;
}
.checkout-form__placeholder--focus {
  font-size: 11px;
}
.checkout-form__star {
  color: #ff7700;
}
.checkout-form__message--error {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 600;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  padding: 4px 12px;
  background-color: #FF7700;
  color: #fff;
  position: relative;
  border-radius: 5px;
  margin-top: 13px;
}
.checkout-form__message--error:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  -moz-transform: scale(0.9999);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid #FF7700;
  top: -6px;
  left: 10px;
  position: absolute;
}
.checkout-form__message--error a {
  color: white;
}
.checkout-form__label {
  font-family: Poppins;
  font-size: 13px;
  line-height: 1.77;
  text-align: left;
  color: #8c8f90;
  position: absolute;
  top: 15px;
  left: 15px;
  transition: 0.1s ease all;
  -moz-transition: 0.1s ease all;
  -webkit-transition: 0.1s ease all;
}
.checkout-form__label--focus {
  font-size: 11px;
  top: 8px;
}

.tfa__popup {
  width: 383px;
}
.tfa__popup__ga {
  width: 410px;
}
@media (max-width: 867px) {
  .tfa__popup {
    width: 308px;
  }
}
.tfa__sendCodeBtn {
  padding: 13px;
  margin-top: 20px;
  min-width: 141px;
}
.tfa__phoneField {
  width: 100%;
  margin-bottom: 0;
}
.tfa__successIcon {
  width: 96px;
  height: 94px;
  margin: 25px 0 20px;
}
.tfa__successText {
  width: 287px;
  margin: 0 auto;
}
@media (max-width: 867px) {
  .tfa__successText {
    width: auto;
  }
}
.tfa__successButton {
  width: 227px;
  margin-top: 25px;
}
.tfa__successContainer {
  text-align: center;
}

